.product-details {
	display: flex;
	width: 100%;
	flex-wrap: wrap;

	.product-images {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 70%; /* Изменено на 50% ширины родительского блока */
		margin-bottom: 20px;
		padding-right: 20px;
		box-sizing: border-box; /* Добавлено для учета padding и border в расчете ширины */
		flex: 1;
		flex-wrap: wrap;

		img {
			height: auto;
			max-height: 1000px;
			max-width: 1000px;
			margin-bottom: 10px;
			border-radius: 15px;
		}
	}

	.product-data {
		display: flex;
		width: 30%; /* Добавлено для занимания 50% ширины родительского блока */
		padding-left: 20px;
		box-sizing: border-box; /* Добавлено для учета padding и border в расчете ширины */
		flex: 1;
		flex-direction: column;
		flex-wrap: wrap;

		&-name {
			margin-bottom: 10px;

			h2 {
				color: #000;
				font-size: 32px;
				font-weight: bold;
			}
		}

		p {
			margin-bottom: 10px;
			color: #000;
			font-size: 18px;
			font-weight: bold;
		}
	}

	.product-reviews-container {
		width: 100%;
		margin-top: 20px;

		h3 {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
			color: #000;
		}

		.product-reviews-container-inside {
			display: flex;
			justify-content: center;
		}

		.product-reviews {
			.review {
				display: flex;
				margin-bottom: 10px;
				padding: 15px;
				padding-bottom: 10px;
				border: 1px solid #000;
				border-radius: 15px;
				flex-direction: column;

				img {
					height: 50px;
					width: 50px;
					margin-right: 10px;
					border-radius: 50%;
				}
			}
			.review-name {
				align-items: center;
				display: flex;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}
.product-reviews-title {
	font-size: 32px;
}

.product-data-name {
	align-items: center;
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
}

.product-details__close-btn {
	padding: 15px 30px;
	color: var(--main-white-color);
	background-color: var(--main-black-color);
	border: none;
	border-radius: 30px;
	cursor: pointer;
}
