@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base text-black;
}

.disabled {
	text-decoration: none;
	cursor: default;
	pointer-events: none;
	opacity: 0.2 !important;
}
